{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style type="text/css" media="screen">
      a:link { color:#ffffff; text-decoration: none; }
      a:visited { color:#33348e; text-decoration: none; }
      a:hover { color:#33348e; text-decoration: none; }
      a:active { color:#7476b4; text-decoration: underline; }
      </style>
    <title>QUIZ</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm offset-1">
          <h2>Welcome the QUIZ!</h2><br>
        </div>
      </div>
    </div>
      
    
    
    <div class="container">
        <div class="row">
          <div class="col-sm offset-1">
            {% for q in qs %}
            <p>Q.{{q.numb}} {{q.ques}}</p>
            <input type="radio" id="male" name="gender" value="male">
            <label for="male">{{q.option1}}</label><br>
            <input type="radio" id="female" name="gender" value="female">
            <label for="female">{{q.option2}}</label><br>
            <input type="radio" id="other" name="gender" value="other">
            <label for="other">{{q.option3}}</label><br>
            <input type="radio" id="other" name="gender" value="other">
            <label for="other">{{q.option4}}</label><br><br>
            {% endfor %}
            <button type="button" class="btn btn-primary">submit</button>
            <ul >
              {% if user.is_authenticated %}
                  <li><a href="#">Hello,{{user.first_name}}</a></li>
                  <li><a href="#">Hello,{{user.extended.dateofbirth}}</a></li>
									<li><a href="accounts/logout">Logout</a></li>
									{% else %}
									<li><a href="accounts/register">Register</a></li>
									<li><a href="accounts/login">Login</a></li>
									{% endif %}
            </ul>
            
          </div>
        </div>
      </div>
      

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>